<template>
  <div class="index">
    <img class="titleImg" :src="titleImg[i].src" alt="">
    <div class="spot">
      <span class="spotImg" :class="index === (titleImg[i].type - 0) ? 'choose':''" v-for="(item, index) in imgNum" :key="index">{{index+1}}</span>
    </div>
    <div class="historyList" v-for="(item, index) in historyList" :key="index" :style="{background: item.color}">{{item.val}}</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      i: '0',
      historyList: [
        {
          type: '0',
          val: '青铜器',
          color: '#96907f'
        },
        {
          type: '1',
          val: '瓷器',
          color: '#817c6e'
        },
        {
          type: '2',
          val: '印章',
          color: '#5f5c52'
        },
        {
          type: '3',
          val: '字画',
          color: '#49463f'
        }
      ],
      titleImg: [
        {
          type: '0',
          src: 'https://www.shanghaimuseum.net/museum/show-resource.action?id=21559'
        },
        {
          type: '1',
          src: 'https://www.shanghaimuseum.net/museum/show-resource.action?id=21533'
        },
        {
          type: '2',
          src: 'https://www.shanghaimuseum.net/museum/show-resource.action?id=20517'
        }
      ]
    }
  },
  mounted () {
    setInterval(() => {
      this.i = (this.i + 1) % 3
    }, 2000)
  },
  computed: {
    imgNum () {
      return this.titleImg.length
    }
  },
  methods: {
  }
}
</script>

<style lang="less" scoped>
.index{
  margin: 0.5rem;
  .titleImg{
    width: 100%;
  }
  .historyList{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .spot{
    .spotImg{
      display: inline-block;
      border-radius: 20/16rem;
      background: #CCCCCC;
      font-size: 12/16rem;
      width: 20/16rem;
      line-height: 20/16rem;
      margin: 0.3rem;
      color: #ffffff;
    }
    .choose{
      background: #CD0000;
    }
  }
}
</style>
