<template>
  <div class="antiqueList">
    <div class="titleItem" @click="toPage(item.path)" v-for="(item, index) in totalTitle" :key="index">{{item.val}}</div>
  </div>
</template>
<script>
export default {
  name: 'antiqueList',
  data () {
    return {
      totalTitle: [
        {
          type: '0',
          val: '首页',
          path: '/'
        },
        {
          type: '1',
          val: '活动中心',
          path: '/activity'
        },
        {
          type: '2',
          val: '上博商店',
          path: '/shopping'
        },
        {
          type: '3',
          val: '联系我们',
          path: '/readme'
        }
      ]
    }
  },
  methods: {
    toPage (nextPage) {
      this.$router.push({path: nextPage})
    }
  }
}
</script>

<style lang="less" scoped>
.antiqueList{
  display: flex;
  .titleItem{
    display: inline-block;
    flex: 1;
    margin: 3px;
  }
  div:not(:last-child){
    border-right: 1px solid #cccccc;
  }
}
</style>
