<template>
  <div id="app">
    <img src="./assets/index_title.jpg" style="width: 100%">
    <antiqueList></antiqueList>
    <router-view/>
  </div>
</template>

<script>
import antiqueList from './components/antiqueList'
export default {
  name: 'App',
  components: {
    antiqueList
  }
}
</script>

<style lang="less" scoped>

body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
